<span><h1>Продукты</h1></span>

<% @product.each do |product| %>

  <div class="card border-info mb-3">

    <div class="card-header">
      <span class="alert alert-success border rounded"><%= product.category %></span>
      <h2 class="text-center"><%= product.title %></h2>
    </div>

    <div class="card-body">
      <h5 class="card-subtitle mb-2 text-muted text-center"><%= product.description %></h5>
      <h3 class="card-text text-center"><%= product.price %></h3>
      <p>
      	<%= image_tag product.picture.url unless product.picture.nil? %>
      </p>

      <div class="text-right">
        <p><%= link_to 'купить', product, class: "btn btn-outline-primary" %></p>
      </div>
      
    </div>

    <div class="card-footer text-muted">
      <%= product.created_at.strftime('%F') %>
      <%= product.created_at.strftime('%H:%M') %>
    </div>

  </div>

  <br>
<% end %>

