<p><%= link_to 'К списку продуктов', products_path, class: "btn btn-outline-primary" %></p>

<div class="card border-info mb-3">

	<div class="card-header">
	    <div class="row">
	    	<span class="alert alert-success border rounded"><%= @product.category %></span>
		    <h2 class="col-md-9 text-center"><%= @product.title %></h2>
		</div>
    </div>
    	
    <div class="card-body">
      <h5 class="card-subtitle mb-2 text-muted"><%= @product.description %></h5>
      <h3 class="card-text"><%= @product.price %></h3>
    </div>

    <%= link_to "Положить в корзину", new_ordered_product_path(product_id: @product.id) %>

    <div class="card-footer text-muted">
      <%= @product.created_at.strftime('%F') %>
      <%= @product.created_at.strftime('%H:%M') %>
    </div>
</div>